<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>228802643658-hb1p7tnc1niglt14p1sgrmgsmardnp4t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.228802643658-hb1p7tnc1niglt14p1sgrmgsmardnp4t</string>
	<key>API_KEY</key>
	<string>AIzaSyCV-nG3sW7TMT_s3yvPz_zd3ZhkWXQ7gFw</string>
	<key>GCM_SENDER_ID</key>
	<string>228802643658</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.awesomenotification</string>
	<key>PROJECT_ID</key>
	<string>awesome-notifiction</string>
	<key>STORAGE_BUCKET</key>
	<string>awesome-notifiction.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:228802643658:ios:0e1382c3c80b68b6d19633</string>
</dict>
</plist>